.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-between {
    justify-content: space-between;
  }
  &.j-end {
    justify-content: flex-end;
  }
  &.a-center {
    align-items: center;
  }
  &.shrink-0 {
    flex-shrink: 0;
  }
  &.flex-1{
    flex: 1;
  }
}

.as {
  &-start {
    align-self: start;
  }
  &-center {
    align-self: center;
  }
  &-end {
    align-self: end;
  }
}

.fw-600 {
  font-weight: 600;
}

.c-dark {
  color: #3f3f3f;
}
.c-violet {
  color: #49485e;
}

.g-16 {
  gap: 16px;
}
.p-16 {
  padding: 16px;
}
.p-24 {
  padding: 24px;
}
.pb-24{
  padding-bottom: 24px;
}